.atte-form__content {
    margin: 0 auto;
    padding: 80px 15px;
    width: 100%;
    background: #eeeeee;
}

.atte-form__heading {
    margin-bottom: 30px;
    text-align: center;
}

.form {
    margin: 0 auto;
    max-width: 300px;
            /* ここで幅を制限 */
    text-align: center;
    box-sizing: border-box;
            /* 幅にパディングとボーダーを含める */
}

.form__group {
    margin-bottom: 30px;
}

.form__input--text input {
    width: 100%;
        padding: 15px;
        border: none;
        border-radius: 5px;
        background: white;
        color: black;
        font-size: 12px;
        cursor: pointer;
        box-sizing: border-box;
        /* 幅にパディングとボーダーを含める */
}
.form__error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background: blue;
        color: white;
        font-size: 16px;
        cursor: pointer;
        box-sizing: border-box;
        /* 幅にパディングとボーダーを含める */
}

.form__nav {
    margin-top: 30px;
}

.form__nav-text {
    color: #494a4b;
        white-space: nowrap;
        /* テキストが改行されないように設定 */
        text-align: center;
        /* テキストを中央揃えに設定 */
        display: block;
        /* 要素をブロック要素として表示 */
}

.form__cta {
    margin-top: 10px;
    margin-bottom: 350px;


}

/* Attendance page specific responsive adjustments */
@media (min-width: 1440px) {
    .date-list__nav-button {
        padding: 10px 20px;
        font-size: 18px;
    }
    .schedule-table__header, .schedule-table__cell {
        padding: 15px 40px;
    }
}

@media (max-width: 600px) {
    .date-list__nav-button {
        padding: 5px 10px;
        font-size: 14px;
    }
    .schedule-table__header, .schedule-table__cell {
        padding: 10px 10px;
    }
}